<script type="text/x-kendo-template" id="grid-page-template">

        <div id='grid'></div>


</script>


<script type="text/x-kendo-template" id="grid-template">
                <div class="tabstrip">
                    <ul>
                        <li class="k-state-active">
                           Orders
                        </li>
                        <li>
                            Contact Information
                        </li>
                    </ul>
                    <div>
                        <div class="orders"></div>
                    </div>
                    <div>
                        <div class='employee-details'>
                            <ul>
                                <li><label>Country:</label>Nederlands</li>
                                <li><label>City:</label>Amsterdam</li>
                                <li><label>Address:</label>Kalshoven</li>
                                <li><label>Home Phone:</label>+31 998 455 660</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </script>