<script type="text/x-kendo-template" id="login-page-template">


    <div class="container">

            <div class="col-sm-4 col-sm-offset-4">
                <h1 class='login-page-title'>Login</h1>
            </div>

            <div class="col-sm-4 col-sm-offset-4">
                <label class="k-label">User Name:</label>
            </div>

            <div class="col-sm-4 col-sm-offset-4">
                <input class="k-textbox full-width login-control" />
            </div>

            <div class="col-sm-4 col-sm-offset-4">
                <label class="k-label">Password:</label>
            </div>

            <div class="col-sm-4 col-sm-offset-4">
                <input class="k-textbox full-width login-control" type="password" />
            </div>

            <div class="col-sm-4 col-sm-offset-4">
                <button id="login-button" class='full-width'>Login</login>
            </div>

    </div>


</script>