<script type="text/x-kendo-template" id="register-page-template">

    <div class="container register">

            <div class="col-sm-4 col-sm-offset-4">
                <h1 class='register-page-title'>Register</h1>
            </div>

            <div class="col-sm-4 col-sm-offset-4">
                <label class="k-label">Email:</label>
            </div>

            <div class="col-sm-4 col-sm-offset-4">
                <input class="k-textbox full-width" id='user-registration-name' required name='User Name' type='email'/>
            </div>

            <div class="col-sm-4 col-sm-offset-4">
                <label class="k-label">Password:</label>
            </div>

            <div class="col-sm-4 col-sm-offset-4">
                <input class="k-textbox full-width" type="password" id='user-registration-password' required name='Password'/>
            </div>

            <div class="col-sm-4 col-sm-offset-4">
                <label class="k-label">Repeat Password:</label>
            </div>

            <div class="col-sm-4 col-sm-offset-4">
                <input class="k-textbox full-width" type="password" id='user-registration-repeat-password' required name='Repeat Password'/>
            </div>

            <div class="col-sm-4 col-sm-offset-4">
                <button id="register-button" class='full-width'>Register</login>
            </div>

    </div>
    
</script>