.register-page-title {
    margin-top: 100px;
    margin-bottom: 50px;
    text-transform: uppercase;
    text-align: center;
}
.k-label {
    display: block;
    margin-top: 20px;
    margin-bottom: 3px;
    text-transform: uppercase;
}
#register-button {
    margin-top: 43px;
    text-transform: uppercase; 
}