body {
  font-family: Arial, Helvetica, sans-serif;
}
header {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    background: deepskyblue;    
 }
 h1.app-title {
     text-align: center;
 }
 ul#main-menu {
    background: transparent;
    border: none;
    display: none;
 }
 ul.account-menu {
    float: right;
    background: transparent;
    border: none;
 }
 ul#profile-menu {
     display: none;
 }

section {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.full-width {
    width: 100%;
}
.k-label {
    display: block;
    margin-top: 20px;
    margin-bottom: 3px;
    text-transform: uppercase;
}
.form-button {
    margin-top: 43px;
    text-transform: uppercase; 
}

.k-notification {
    border: 0;
}

.k-notification-update-success.k-group {
    background: rgba(0%,60%,0%,.7);
    color: #fff;
     width: 95%;
}


.update-success {
    width: 100%;
    height: 100px;
    padding: 0 30px;
    display: flex;
    align-items: center;
}
.update-success h3 {
    font-size: 2.5em;
    font-weight: normal;
    display: inline-block;
}
.update-success img {
    display: inline-block;
    margin-right: 20px;
}

@media (max-width: 980px) {
   header h1.app-title {
     font-size: 1.8em;
 }
}
@media (max-width: 800px) {
   header h1.app-title {
     display: none;
 }
}
